/* Tasks Component's CSS */

.check-button{
    min-width: 80px; align-self: center;
}
.task-text{
    text-align: justify;
}
.task-time{
    border-left:1px solid whitesmoke; min-width: 100px; align-self: center;
    font-size: smaller;
}
.delete-button{
    font-size: smaller;
}

/* remove click event from little span, because different e.target values */
.toggle-handle{
    pointer-events: none;
}

/* complete a task */
.line-through{
    text-decoration: line-through;
    color: darkgray;
}

.print-button{
    width: 100px;
    margin: auto;
    margin-top: 5vh;
}