{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <title>Airties Case Study</title>
        <style>
            .fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
        </style>
</head>
<body>

    <!-- React app -->
    <div id="app"></div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>